.App {
  text-align: center;
  font: 1.5em sans-serif;
  margin: auto;
}

img{ 
  height: 25%;
  width: 25%;
}
button{
  background-color: steelblue;
  color: white;
  border: unset;
  padding: .5em;
  margin: auto;
  font: 1em bold;
}
button:hover {
  background-color: steelblue;
  color : white ; 
  opacity: .7;
}